.post-meta-label {
    bottom: -12px;
    margin-left: 10px;
    position: relative;
    color: black;
    font-family: Bangers;
    font-size: 18px;
    text-align: center;
    display: block;
    letter-spacing: 00.01em;
    white-space: nowrap;
    background-color: rgba(193, 183, 163, 1);
    text-align: center;
    text-transform: uppercase;
    padding-inline: 15px;
    width: fit-content;
    display: inline-block;
}

.post-meta-label-slanted {
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);
    border: 1px solid rgba(193, 183, 163, 1);
}
