.footer-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    color: rgb(247, 246, 231);

    h5 {
        font-size: 22px;
    }

    a {
        color: rgb(247, 246, 231);
        font-size: 16px;
        line-height: 34px;
    }
}