.framebanner {
    width: 650px;
	height: 106px;
	transform: skew(-15deg);
	background: white;
}
.frametext {
    position: relative;
    color: black;
    font-size: 37px;
    text-align: left;
    display: block;
    letter-spacing: 00.01em;
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
}