// * Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
#infolabel1-mob { 
  float: left;

}

#optional {
  visibility: hidden;
  display: none;
}

#mob-display {
  visibility: inherit;
}

#herolabel {
  padding-left: 30px;
}

}

// .path6307 {
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   fill: rgba(223, 199, 142, 1);
//   box-shadow: none;
// }

// .path4573 {
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   fill: transparent;
//   box-shadow: none;
// }

// .path6039 {
//   position: relative;
//   box-sizing: border-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   fill: transparent;
//   stroke: rgba(247, 246, 231, 1);
//   stroke-width: 10.00px;
//   stroke-linecap: butt;
//   box-shadow: none;
// }

// .maskGroup86 {
//   display: block;
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   background-image: url("/src/static/maskGroup86.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 1;
//   cursor: default;
//   overflow-x: unset;
//   overflow-y: unset;
//   background-color: transparent;
// }

// .maskGroup86 .path6241 {
//   position: relative;
//     box-sizing: border-box;
//     -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//     opacity: 1;
//     cursor: default;
//     fill: transparent;
//     stroke: rgba(247, 246, 231, 1);
//         stroke-width: 8.00px;
//         stroke-linecap: butt;
//     box-shadow: none;
// }

// .rectangle1680 {
//   position: relative;
//   box-sizing: border-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   background-image: url("/src/static/rectangle1680.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 1;
//   cursor: default;
//   background-color: rgba(255, 255, 255, 0);
//   border-bottom-color: rgba(247, 246, 231, 1);
//   border-bottom-style: solid;
//   border-bottom-width: 10.00px;
//   border-left-color: rgba(247, 246, 231, 1);
//   border-left-style: solid;
//   border-left-width: 10.00px;
//   border-right-color: rgba(247, 246, 231, 1);
//   border-right-style: solid;
//   border-right-width: 10.00px;
//   border-top-color: rgba(247, 246, 231, 1);
//   border-top-style: solid;
//   border-top-width: 10.00px;
//   box-shadow: none;
// }

// .maskGroup87 {
//   display: block;
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   background-image: url("/src/static/maskGroup87.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 1;
//   cursor: default;
//   overflow-x: unset;
//   overflow-y: unset;
//   background-color: transparent;
// }
// .maskGroup87 .rectangle1817 {
//   position: relative;
//     box-sizing: border-box;
//     -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//     background-image: url("/src/static/rectangle1817.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//     opacity: 1;
//     cursor: default;
//     margin-top: 0.00px;
//     margin-right: 0.00px;
//     margin-bottom: 0.00px;
//     margin-left: 0.00px;
//     padding-top: 0.00px;
//     padding-right: 0.00px;
//     padding-bottom: 0.00px;
//     padding-left: 0.00px;
//     background-color: rgba(255, 255, 255, 0);
//     border-bottom-color: rgba(247, 246, 231, 1);
//     border-bottom-style: solid;
//     border-bottom-width: 4.00px;
//     border-left-color: rgba(247, 246, 231, 1);
//     border-left-style: solid;
//     border-left-width: 4.00px;
//     border-right-color: rgba(247, 246, 231, 1);
//     border-right-style: solid;
//     border-right-width: 4.00px;
//     border-top-color: rgba(247, 246, 231, 1);
//     border-top-style: solid;
//     border-top-width: 4.00px;
//     border-top-left-radius: 0.00px;
//     border-top-right-radius: 0.00px;
//     border-bottom-left-radius: 0.00px;
//     border-bottom-right-radius: 0.00px;
//     box-shadow: none;
// }

// .group4476 {

//   display: block;
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   overflow-x: unset;
//   overflow-y: unset;
//   background-color: transparent;
// }
// .group4476 .path457252be0f0c {
//   position: relative;
//     box-sizing: border-box;
//     -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//     opacity: 1;
//     cursor: default;
//     fill: rgba(181, 143, 127, 1);
//     stroke: rgba(247, 246, 231, 1);
//         stroke-width: 10.00px;
//         stroke-linecap: butt;
//     box-shadow: none;
// }

// .group5053 {

//   display: block;
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   overflow-x: unset;
//   overflow-y: unset;
//   background-color: transparent;
// }

// .group5053 .path4572802bbf2b {
//   position: relative;
//   box-sizing: border-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   fill: rgba(181, 143, 127, 1);
//   stroke: rgba(247, 246, 231, 1);
//   stroke-width: 10.00px;
//   stroke-linecap: butt;
//   box-shadow: none;
// }

// .group5054 {

//   display: block;
//   position: relative;
//   box-sizing: content-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   overflow-x: unset;
//   overflow-y: unset;
//   background-color: transparent;
// }

// .group5054 .path4572570239fa {
//   position: relative;
//   box-sizing: border-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   opacity: 1;
//   cursor: default;
//   fill: rgba(181, 143, 127, 1);
//   stroke: rgba(247, 246, 231, 1);
//   stroke-width: 10.00px;
//   stroke-linecap: butt;
//   box-shadow: none;
// }
// .cls-1 {
//   fill: #be992d;
// }

// .cls-2 {
//   fill: #e8bb33;
// }

// .cls-3 {
//   font-size: 26px;
//   font-family: Bangers-Regular, Bangers;
//   letter-spacing: 0.01em;
//   text-align: center;
// }
// .topleft {
//   position: absolute;
//   top: 5px;
//   left: -10px;
//   font-size: 18px;
//   width: 800px;
//   height: auto;
  
// }

// .frame {
//   position: relative;
//   box-sizing: border-box;
//   -ms-transform: rotate(0.00deg);
//   -webkit-transform: rotate(0.00deg);
//   transform: rotate(0.00deg);
//   -ms-transform-origin: center;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   background: url(../static/rectangle3190.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: auto;
//   opacity: 1;
//   cursor: default;
//   margin-top: 0.00px;
//   margin-right: 0.00px;
//   margin-bottom: 0.00px;
//   margin-left: 0.00px;
//   padding-top: 0.00px;
//   padding-right: 0.00px;
//   padding-bottom: 0.00px;
//   padding-left: 0.00px;
//   background-color: rgba(255, 255, 255, 0);
//   border-bottom-color: rgba(247, 246, 231, 1);
//   border-bottom-style: solid;
//   border-bottom-width: 6.00px;
//   border-left-color: rgba(247, 246, 231, 1);
//   border-left-style: solid;
//   border-left-width: 6.00px;
//   border-right-color: rgba(247, 246, 231, 1);
//   border-right-style: solid;
//   border-right-width: 6.00px;
//   border-top-color: rgba(247, 246, 231, 1);
//   border-top-style: solid;
//   border-top-width: 6.00px;
//   border-top-left-radius: 0.00px;
//   border-top-right-radius: 0.00px;
//   border-bottom-left-radius: 0.00px;
//   border-bottom-right-radius: 0.00px;
//   box-shadow: none;
//   width: 1100.00px;
//   height: 400.00px;
// }

.btn-wrap {
  display: flex; 
  z-index: 3;
  position:absolute;
  bottom: 0px;
  padding-bottom: 35px;
  width:100%;
}

.headerimage {
  position: relative;
}