.frame-cover {
    position: relative;
    z-index: 1;
    border: 5px solid white;
    }

.frame-label {
    z-index: 2;
    display: flex;
    bottom: -115px;
    right: 35px;
    position: relative;
    background-color: white;
    color: black;
    letter-spacing: 00.01em;
    padding: 10px 5px 0px 5px;
    font-family: Bangers-Regular, Bangers;
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);
    white-space: pre-wrap;
    
    h3 {
        display: inline;
        font-size: 30px;
    }
}

.frame-cover-blog {
    top: -40px;
}

.frame-lbl-blog {
    z-index: 2;
    bottom: -10px;
    left: -40px;
    padding-inline: 10px;
    position: relative;
    color: black;
    font-family: Bangers;
    letter-spacing: 00.01em;
    background-color: rgba(247, 246, 232, 1);
    text-align: left;
    text-transform: uppercase;
    display: inline-flex;
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);
    white-space: pre-wrap;
    width: fit-content;
    
    .h3-1 {
        display: inline;
        font-size: 30px;
    }
}
  
img{
    position: relative;
    width: 100%;
}

.nne{
    display: none !important;
}