@use 'variables' as *;

.frame-cover {
    top: 0px;
    position: relative;
    z-index: 1;
    border: 5px solid #f7f6e7;
    width: 100%;
    height: 645px;
    overflow: hidden;
    display: inline;
    }

.frame-label {
    z-index: 2;
    display:inline-block;
    position: relative;
    background-color: #f7f6e7;
    color: black;
    letter-spacing: 00.01em;
    padding: 10px 15px 0px 15px;
    font-family: Bangers-Regular, Bangers;
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);
    
    h3 {
        display: inline-flex;
        font-size: 40px;
        line-height: 40px;
        padding: 5px;
        white-space: pre-wrap;
    }
}

.frame-cover-blog {
    top: 0px;
    position: relative;
    z-index: 1;
    border: 5px solid #f7f6e7;
    width: 100%;
    height: 360px;
    overflow: hidden;
    background-size: cover;

    img {
        width: 100%;
        height: 360px;
        object-fit: cover;
    }
}

.frame-lbl-blog {
    z-index: 2;
    position: absolute;
    color: black;
    font-family: Bangers;
    letter-spacing: 00.01em;
    background-color: rgba(247, 246, 232, 1);
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    top: 20px;
    left: -30px;

    h3 {
        display: inline;
        font-size: 28px;
        line-height: 35px;
    }

    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);
}

.frame-lbl-trending{
    z-index: 2;
    display: flex;
    bottom: -35px;
    right: 35px;
    position: relative;
    background-color: white;
    color: black;
    letter-spacing: 00.01em;
    padding: 10px 5px 0px 5px;
    font-family: Bangers-Regular, Bangers;
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);

    h3 {
        display: inline-flex;
        font-size: 30px;
        white-space: pre-wrap;
    }
}
  
img{
    position: relative;
    width: 100%;
}

.nne{
    display: none !important;
}

.head-img {
    position: relative;
}


@media screen and (min-width: 0px) and (max-width: $mobile-display-width) {

    .text-wrap {
        display: flex;
        position:absolute;
        top: 20px;
        padding-top: 20px;
        left: -20px;
        width:100%;
    }
    
.frame-cover {
    top: 0px;
    position: relative;
    z-index: 1;
    border: 5px solid #f7f6e7;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-size: cover;
    }

.frame-label {
    z-index: 2;
    display:inline-block;
    position: relative;
    background-color: #f7f6e7;
    color: black;
    letter-spacing: 00.01em;
    padding: 5px 10px 0px 5px;
    font-family: Bangers-Regular, Bangers;
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);
    left: 5px;
    
    h3 {
        display: inline-flex;
        font-size: 28px;
        line-height: 35px;
        white-space: pre-wrap;
    }
}

.frame-cover-trending {
    top: 0px;
    position: relative;
    z-index: 1;
    border: 5px solid #f7f6e7;
    width: 100%;
    height: 210px;
    overflow: hidden;
    background-size: cover;
    }

.frame-lbl-trending{
    z-index: 2;
    display: flex;
    top: -15px;
    right: -10px;
    position: relative;
    background-color: white;
    color: black;
    letter-spacing: 00.01em;
    padding: 10px 5px 0px 5px;
    font-family: Bangers-Regular, Bangers;
    -ms-transform: skewX(-0.02turn);
    -webkit-transform: skewX(-0.02turn);
    transform: skewX(-0.02turn);

    h3 {
        display: inline-flex;
        font-size: 28px;
        white-space: pre-wrap;
    }
}

.frame-cover-blog {
    top: 0px;
    position: relative;
    z-index: 1;
    border: 5px solid #f7f6e7;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}


.frame-lbl-blog {
    left: 10px;

    h3 {
        display: inline;
        font-size: 20px;
        line-height: 28px;
    }
}

}
