@use 'variables' as *;

.aboutus-layer-env-hero {
    position: relative;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../static/rectangle2744.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
    cursor: default;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);    
    border: 5px solid rgba(247, 246, 232, 1);
    border-radius: 0px;
    box-shadow: none;
    height: 400.00px;
  }
  .aboutus-layer-env-hero-sm{
    position: relative;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../static/rectangle2744.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
    cursor: default;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);    
    border: 5px solid rgba(247, 246, 232, 1);
    border-radius: 0px;
    box-shadow: none;
    height: 200px;
  }