html {
    height: 100%;
    width: 100%;
}

body {
    font-style: normal;
    font-family: Montserrat;
    font-size: 16px;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Bangers-Regular, Bangers;  
  }

  p {
    font-family: Montserrat;
  }

  a {
    font-family: Montserrat;
    color: black;
  }
  
  img {
    z-index: 1;
  }

  .breadcrumb {

    background-color: transparent;

    .breadcrumb-item {
      font-family: Bangers-Regular, Bangers;  
      color: rgb(182, 193, 187);
      font-size: 22px;
      
      a {
        font-family: Bangers-Regular, Bangers;  
        color: rgb(182, 193, 187);

      }
    }
  }
@media screen and (min-width: 0px) and (max-width: 700px) {
    #div-mobile {    display: block;  }
    #div-desktop {    display: none;  }
    }
  
    @media screen and (min-width: 701px) and (max-width: 3000px) {
    #div-mobile {    display: none;  }
    #div-desktop {    display: block;  }
  
  }