.button-default-1 {
	position: relative;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	padding: 1px 10px;
	margin: 10px;
	display: inline-block;
	width: 100%;
}

.button-slanted-1 {
	-ms-transform: skewX(-0.04turn);
	-webkit-transform: skewX(-0.04turn);
	transform: skewX(-0.04turn);
	border: 2px solid #e8bb33;
}

.button-slanted-content-1 {
	font-family: Bangers-Regular, Bangers;
	position: relative;
	-ms-transform: skewX(0.04turn);
	-webkit-transform: skewX(0.04turn);
	transform: skewX(0.04turn);
	display: inline-block;
	font-size: 26px;
	white-space: nowrap;
	letter-spacing: 00.01em;
	color: #e8bb33;
}

.btn {
	border-radius: 0 !important;
}
