@use 'variables' as *;

.rectangle {
  height: 110px;
  width: 530px;
  background-color: rgba(247,246,231,255);
  font-size: medium;
  color: black;
  text-align: left;
  
}
#arrow {
  position: absolute;
  // right: 300px;
  width: 130px;
  top: -10px;
  // right: 40px;
  padding: 20px;
}
  
  .post {
  
      .post-label {
        top: -24px;
        margin-left: 10px;
        position: relative;
        color: black;
        font-family: Bangers;
        font-size: 18px;
        text-align: center;
        display: block;
        letter-spacing: 00.01em;
        background-color: rgba(247, 246, 232, 1);
        text-align: center;
        text-transform: uppercase;
        padding-inline: 15px;
        max-width: 427;
        max-height: 240;
        display: inline-block;
  
    
        h3 {
            font-size: 22px;
        }
    }
    
    .post-label-slanted{
        -ms-transform: skewX(-0.02turn);
        -webkit-transform: skewX(-0.02turn);
        transform: skewX(-0.02turn);
        border: 7px solid rgba(247, 246, 232, 1);;
        width: 427;
        height: 240;
  
    }

    .post-meta-label {
      // bottom: -12px;
      // margin-left: 15px;
      position: relative;
      color: black;
      font-family: Bangers;
      font-size: 18px;
      text-align: center;
      display: block;
      letter-spacing: 00.01em;
      background-color: rgba(193, 183, 163, 1);
      text-align: center;
      text-transform: uppercase;
      padding-inline: 15px;
      width: fit-content;
      display: inline-block;
  }
  
  .post-meta-label-slanted {
      -ms-transform: skewX(-0.02turn);
      -webkit-transform: skewX(-0.02turn);
      transform: skewX(-0.02turn);
      border: 1px solid rgba(193, 183, 163, 1);
  }
  
  
   }
  
   .hero-post {
  
    .article-cover {
      top: -40px;
      position: relative;
      z-index: 1;
      width: 800px;
      height: 400px;
      // width: ;
    }
  
    .hero-label {
      z-index: 2;
      float: left;
      bottom: -20px;
      left: -40px;
      padding-inline: 10px;
      position: relative;
      color: black;
      font-family: Bangers;
      font-size: 18px;
      text-align: center;
      letter-spacing: 00.01em;
      background-color: rgba(247, 246, 232, 1);
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      display: inline;
  
      h3 {
        display: inline;
        font-size: 30px;
        line-height: 40px;
        padding: 5px;
      }
  }
  
  .hero-label-slanted{
      -ms-transform: skewX(-0.02turn);
      -webkit-transform: skewX(-0.02turn);
      transform: skewX(-0.02turn);
  }
    
   }
   
   @media screen and (min-width: 0px) and (max-width: $mobile-display-width) {

    .rectangle {
      height: 130px;
      //width: 365px;
      width: auto;
      background-color: rgba(247,246,231,255);
      font-size: 20px;
      font-family: Bangers;
      font-weight: 400;
      color: black;
      text-align: left;
      
    }
    #arrow {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 100px;
      // right: 40px;
      padding: 20px;
    }
      
      .post {
      
          .post-label {
            top: -24px;
            margin-left: 10px;
            position: relative;
            color: black;
            font-family: Bangers;
            font-size: 18px;
            text-align: center;
            display: block;
            letter-spacing: 00.01em;
            background-color: rgba(247, 246, 232, 1);
            text-align: center;
            text-transform: uppercase;
            padding-inline: 15px;
            max-width: 427;
            max-height: 240;
            display: inline-block;
      
        
            h3 {
              display: inline-flex;
                font-size: 18px;
                font-family: Bangers;
                font-weight: 400;
                // width: 235px;
                // height: 40px;
                line-height: 20px;
            }
        }
        
        .post-label-slanted{
            -ms-transform: skewX(-0.02turn);
            -webkit-transform: skewX(-0.02turn);
            transform: skewX(-0.02turn);
            border: 7px solid rgba(247, 246, 232, 1);;
            width: 427;
            height: 240;
      
        }
    
        .post-meta-label {
          // bottom: -12px;
          // margin-left: 15px;
          position: relative;
          color: black;
          font-family: Bangers;
          font-size: 18px;
          text-align: center;
          display: block;
          letter-spacing: 00.01em;
          background-color: rgba(193, 183, 163, 1);
          text-align: center;
          text-transform: uppercase;
          padding-inline: 15px;
          width: fit-content;
          display: inline-block;
      }
      
      .post-meta-label-slanted {
          -ms-transform: skewX(-0.02turn);
          -webkit-transform: skewX(-0.02turn);
          transform: skewX(-0.02turn);
          border: 1px solid rgba(193, 183, 163, 1);
      }
      
      
       }
      
       .hero-post {
      
        .article-cover {
          top: -40px;
          position: relative;
          z-index: 1;
          width: 800px;
          height: 400px;
          // width: ;
        }
      
        .hero-label {
          z-index: 2;
          float: left;
          bottom: -20px;
          left: -40px;
          padding-inline: 10px;
          position: relative;
          color: black;
          font-family: Bangers;
          font-size: 18px;
          text-align: center;
          letter-spacing: 00.01em;
          background-color: rgba(247, 246, 232, 1);
          text-align: center;
          text-transform: uppercase;
          width: 100%;
          display: inline;
      
          h3 {
            display: inline;
            font-size: 30px;
            line-height: 40px;
            padding: 5px;
          }
      }
      
      .hero-label-slanted{
          -ms-transform: skewX(-0.02turn);
          -webkit-transform: skewX(-0.02turn);
          transform: skewX(-0.02turn);
      }
        
       }

   }
   .btn-center-aligh{
    margin: 0 auto;
   }