@use 'variables' as *;

.group3846 {

  display: block;
  position: relative;
  box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;

}

.rectangle1700 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(152, 187, 177, 1);
  border-bottom-color: rgba(247, 246, 232, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(247, 246, 232, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(247, 246, 232, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(247, 246, 232, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: fit-content;
  height: 100.00px;
}

.infolabel {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  text-align: left;
  line-height: 20.00px;
  letter-spacing: 0.32px;
  color: rgba(29, 29, 29, 1);
  -webkit-text-stroke: unset;
  font-size: 22.00px;
  font-weight: 400;
  font-style: normal;
  font-family: Bangers;
  text-decoration: none;
  white-space: pre;
  text-align: center;
  top: 12px;
}

.rectangle1822 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(211, 221, 215, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: fit-content;
  height: 140.00px;

}

.rectangle1823 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: #d3ddd7;
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 100%;
  height: auto;
}

.rectangle2744 {
  position: relative;
  box-sizing: border-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("../static/rectangle2744.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(247, 246, 232, 1);
  border-bottom-style: solid;
  border-bottom-width: 5.00px;
  border-left-color: rgba(247, 246, 232, 1);
  border-left-style: solid;
  border-left-width: 5.00px;
  border-right-color: rgba(247, 246, 232, 1);
  border-right-style: solid;
  border-right-width: 5.00px;
  border-top-color: rgba(247, 246, 232, 1);
  border-top-style: solid;
  border-top-width: 5.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 300.00px;
  height: 400.00px;
}

.earnYield {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 16.00px;
  letter-spacing: 0.00px;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 14.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
}

.group4892 {

  display: block;
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: fit-content;
  height: 80.00px;
}

.group4892 .rectangle17177e89d1ef {
  position: relative;
  box-sizing: border-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(193, 183, 163, 1);
  border-bottom-color: rgba(255, 255, 255, 1);
  border-bottom-style: solid;
  border-bottom-width: 3.00px;
  border-left-color: rgba(255, 255, 255, 1);
  border-left-style: solid;
  border-left-width: 3.00px;
  border-right-color: rgba(255, 255, 255, 1);
  border-right-style: solid;
  border-right-width: 3.00px;
  border-top-color: rgba(255, 255, 255, 1);
  border-top-style: solid;
  border-top-width: 3.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: fit-content;
  height: 80.00px;

}

.group4892 .swap {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 60.00px;
  letter-spacing: 1.20px;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: unset;
  font-size: 40.00px;
  font-weight: 400;
  font-style: normal;
  font-family: Bangers, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: fit-content;
  height: 53.00px;
}

.group5812 {

  display: block;
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;

}

.group5812 .theCryptoExchangeThatSatoshiWouldUse {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 36.00px;
  letter-spacing: 0.32px;
  color: rgba(247, 246, 231, 1);
  -webkit-text-stroke: unset;
  font-size: 25.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Bangers, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;

}

.group5812 .x1 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 16.00px;
  letter-spacing: 1.80px;
  color: rgba(247, 246, 231, 1);
  -webkit-text-stroke: unset;
  font-size: 40.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Bangers, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;

}

.group5813 {

  display: block;
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
}

.group5813 .yourKeysYourControl {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 36.00px;
  letter-spacing: 0.32px;
  color: rgba(247, 246, 231, 1);
  -webkit-text-stroke: unset;
  font-size: 22.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Bangers, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;

}

.group5813 .x2 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 16.00px;
  letter-spacing: 1.80px;
  color: rgba(247, 246, 231, 1);
  -webkit-text-stroke: unset;
  font-size: 40.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Bangers, Arial;
  white-space: pre;

}

.rectangle2820 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(211, 221, 215, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 100%;
  height: fit-content;
}

.sovrynExpands {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 16.00px;
  letter-spacing: 0.00px;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 14.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  text-align: left;
}

.sovrynIs {
  position: relative;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 14.00px;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 14.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat, Arial;
  text-decoration: none;
}

.group5814 {

  display: block;
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
}

.group5814 .escapeCentralisation {
  position: relative;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 36.00px;
  letter-spacing: 0.32px;
  color: rgba(247, 246, 231, 1);
  -webkit-text-stroke: unset;
  font-size: 22.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Bangers, Arial;
  text-decoration: none;

}

.group5814 .x3 {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 16.00px;
  letter-spacing: 1.80px;
  color: rgba(247, 246, 231, 1);
  -webkit-text-stroke: unset;
  font-size: 40.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Bangers, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
}

.rectangle-info {
  position: relative;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(211, 221, 215, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 220px;
  height: 170px;

}

.websiteinfotop {
  top: 600px;
}

@media screen and (min-width: 0px) and (max-width: $mobile-display-width) {

  .frame1-webinfo {
      position: relative;
      box-sizing: border-box;
      transform-origin: center;
      background-image: url("../static/rectangle2744.png");
      background-position: center;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(247, 246, 232, 1);
      border-bottom-style: solid;
      border-bottom-width: 5.00px;
      border-left-color: rgba(247, 246, 232, 1);
      border-left-style: solid;
      border-left-width: 5.00px;
      border-right-color: rgba(247, 246, 232, 1);
      border-right-style: solid;
      border-right-width: 5.00px;
      border-top-color: rgba(247, 246, 232, 1);
      border-top-style: solid;
      border-top-width: 5.00px;
      box-shadow: none;
      width: 100%;
      height: 300.00px;
    }
    
    .textbox1-webinfo {
        position: relative;
        box-sizing: content-box;
        background-color: rgba(152, 187, 177, 1);
        border-bottom-color: rgba(247, 246, 232, 1);
        border-bottom-style: none;
        border-bottom-width: 1.00px;
        border-left-color: rgba(247, 246, 232, 1);
        border-left-style: none;
        border-left-width: 1.00px;
        border-right-color: rgba(247, 246, 232, 1);
        border-right-style: none;
        border-right-width: 1.00px;
        border-top-color: rgba(247, 246, 232, 1);
        border-top-style: none;
        border-top-width: 1.00px;
        width: fit-content;
        height: max-content;
        font-family: Bangers;
        color: black;

        h3 {
          font-size: 24px;
          font-family: Bangers;
          font-weight: 400;
        }
      }
    
      .theCryptoExchangeThatSatoshiWouldUse-webinfo {
        position: relative;
        text-align: left;
        line-height: 20.00px;
        letter-spacing: 0.32px;
        -webkit-text-stroke: unset;
        font-size: 24.00px;
        font-weight: 500;
        font-family: Bangers;
        white-space: pre;
      }
      
        .x1-webinfo {
        position: relative;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 40.00px;
        letter-spacing: 1.80px;
        color: rgba(247, 246, 231, 1);
        font-size: 30.00px;
        font-weight: 500;
        font-style: normal;
        font-family: Bangers;
        white-space: pre;
      }
    
      .textbox2-webinfo {
        position: relative;
        box-sizing: content-box;
        background-color: rgba(211, 221, 215, 1);
        border-bottom-color: rgba(112, 112, 112, 1);
        border-bottom-style: none;
        border-bottom-width: 1.00px;
        border-left-color: rgba(112, 112, 112, 1);
        border-left-style: none;
        border-left-width: 1.00px;
        border-right-color: rgba(112, 112, 112, 1);
        border-right-style: none;
        border-right-width: 1.00px;
        border-top-color: rgba(112, 112, 112, 1);
        border-top-style: none;
        border-top-width: 1.00px;
        width: fit-content;
        height: 150.00px;
      }
    
      .textbox2-text-webinfo {
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 16.00px;
        letter-spacing: 0.00px;
        color: rgba(0, 0, 0, 1);
        -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
        font-size: 14.00px;
        font-weight: 500;
        font-style: normal;
        font-family: Montserrat, Arial;
        text-decoration: none;
        text-align: left;
      }

      .rectangle2820-webinfo {
        position: relative;
        box-sizing: content-box;
        -ms-transform: rotate(0.00deg);
        -webkit-transform: rotate(0.00deg);
        transform: rotate(0.00deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        background-color: rgba(211, 221, 215, 1);
        border-bottom-color: rgba(112, 112, 112, 1);
        border-bottom-style: none;
        border-bottom-width: 1.00px;
        border-left-color: rgba(112, 112, 112, 1);
        border-left-style: none;
        border-left-width: 1.00px;
        border-right-color: rgba(112, 112, 112, 1);
        border-right-style: none;
        border-right-width: 1.00px;
        border-top-color: rgba(112, 112, 112, 1);
        border-top-style: none;
        border-top-width: 1.00px;
        width: 250px;
        height: 150.00px;
      }
      
      .sovrynExpands-webinfo {
        position: relative;
        box-sizing: content-box;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 16.00px;
        letter-spacing: 0.00px;
        color: rgba(0, 0, 0, 1);
        -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
        font-size: 14.00px;
        font-weight: 500;
        font-style: normal;
        font-family: Montserrat, Arial;
      }
    

}