@use 'variables' as *;

.workat-sovryn-img-frame{
    position: relative;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../static/path6556.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
    cursor: default;
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid rgba(247, 246, 232, 1);
    border-radius: 0px;
    box-shadow: none;
    width: 400.00px;
    height: 500.00px;
    right: 0px;
    left: -8px;
    bottom: 270px;
  }

  .work-at-sovryn-text {
    position: relative;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0px;
    padding: 0px;
    background-color: #D3DDD7;
    border: 1px solid rgba(247, 246, 232, 1);;
    border-radius: 0px;
    box-shadow: none;
    width: inherit;
    height: 100px;
    margin-top: 1rem !important;
  }
  .work-at-sovryn-headding {
    font-size: 40px;
    font-family: Bangers;
    bottom: 150px;
    left: -70px;
  }
  .work-at-sovryn-text-format {
    position: relative;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 16.00px;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 14.00px;
    font-weight: 500;
    font-style: normal;
    font-family: Montserrat, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    text-align: left;
  }
  .workatsovryn-format {
    position: relative;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    line-height: 20.00px;
    letter-spacing: 0.32px;
    color: rgba(29, 29, 29, 1);
    -webkit-text-stroke: unset;
    font-size: 22.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Bangers;
    text-decoration: none;
    white-space: pre;
    text-align: inherit; 
    top: 0px;
  }
  .mtp-100{
    margin-top: 100px;
  }
  .bg-c-test{
    background-color: #87A4A5;
    height: 50px;
  }


  .work-at-sovryn-text-mob {
    position: relative;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0px;
    padding: 0px;
    background-color: #D3DDD7;
    border: 1px solid rgba(247, 246, 232, 1);;
    border-radius: 0px;
    box-shadow: none;
    width: inherit;
    height: 115px;
    margin-top: 1rem !important;
  }